modules = ["nodejs-20", "web"]
[nix]
channel = "stable-25_05"
packages = ["unzip"]

[agent]
expertMode = true

[userenv]

[userenv.shared]
NEXTAUTH_URL = "https://befluent-edu.online"
NEXTAUTH_SECRET = "youspeak-secret-key-2025"
MONGODB_URI = "mongodb+srv://Vercel-Admin-youspeak:TOTY20009a@youspeak.dsouarr.mongodb.net/youspeak?appName=youspeak"
ZEGO_APP_ID = "1093321503"
ZEGO_APP_SIGN = "6e57bac43a9b6199fec4c8c55c3b0b4932097760c06edaf3b035c4dc171add3a"
ZEGO_SERVER_SECRET = "5323a6030d8d8335117b43739f567b6e"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Be Fluent Server"

[[workflows.workflow]]
name = "Be Fluent Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "install"]
